lightning
wandb
git+https://github.com/qubvel/segmentation_models.pytorch
opencv-contrib-python
git+https://github.com/huggingface/transformers
albumentations
lightning_transformers
open3d
matplotlib==3.5.2